/* Import fonts from font */
@import url(./fonts.css);

/* CSS Variables */
@import url(./_variables.css);



/* Navbar Menu */
.header_area .main-menu .navbar {
    padding: 1rem 5rem;
}
.header_area .main-menu .nav-item .nav-link {
    font: normal 500 15px/2 var(--roboto);
    text-transform: uppercase;
    padding: 0 1rem 0 1rem;
}

/* Banner */
.main-principal .site-banner {
    background: url('../images/code.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.header_area .main-menu .page-intro {
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
}
.header_area .main-menu .page-intro .site-title h1{
    font: normal 700 3rem var(--roboto);
    color: whitesmoke;
}
.header_area .main-menu .page-intro .site-title h3 {
    font: normal 900 2rem var(--roboto);
    color: var(--primary-color);
}